@page "/Dash_Obs"
@page "/Dash_Obs/{IdPeriodoNegocio}"
@layout MainLayout
@inherits PDM_Draxton.Pages.Dash_ObsComponent
@using System.Data
@using dll_Gis;

@using PDM_Draxton.Data
@using PDM_Draxton.Services;
@using PDM_Draxton.utilidades
@using Radzen
@using Radzen.Blazor
@using Blazor.Models.Sample

@inject Microsoft.Extensions.Localization.IStringLocalizer<Correo> L
@inject DialogService DialogService
@inject IModalService modal
@inject IdentityInformation _identity
@inject NavigationManager _navigationManager


<RadzenContent Container="main">
  <ChildContent>

    <div class="row">
      <div class="col-md-12" style="display: inline-block">

        <div class="row">
          <div class="col-md-12">
            <RadzenTextArea style="margin-top: 15px;heigth:100%; width: 100%" Name="Textarea0" Disabled=@deshabilita 
            @bind-Value="@s_observacion" MaxLength="500">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <RadzenButton Click="@Grabar" Icon="save" IsBusy="false" Disabled=@deshabilita Text="Grabar">
            </RadzenButton>
            <RadzenButton Click="@Cancelar" IsBusy="false" Text="Regresar">
            </RadzenButton>
          </div>
        </div>
      </div>
    </div>
  </ChildContent>
</RadzenContent>

@code{

    private string Archivo = String.Empty;
    private string user = String.Empty;
    private string email = String.Empty;
    private string s_observacion = String.Empty;
    private string estatusPeriodo = String.Empty;
    private bool deshabilita = false;

    [Parameter]
    public int IdPeriodoNegocio { get; set; }


    DataAccess da = new DataAccess();

    private bool? ckAduntarComentarios = true;
    private bool habilitarComentario = false;
    private string? comentario;
    string destinatarios = String.Empty;

    protected override async Task OnInitializedAsync()
    {

        if (_identity.Rol == "Negocio")
            deshabilita = true;

        try {

            if (da.cons_ObsPeriodo(IdPeriodoNegocio, out DataTable dt, out String msgError))
            {
                s_observacion = dt.Rows[0]["Observaciones"].ToString();
                estatusPeriodo = dt.Rows[0]["Estatus"].ToString();

                if (estatusPeriodo == "CERRADO")
                    deshabilita = true;
            }

        }
        catch 
        { }

    }
    public void Grabar()
    {

        try
        {
            if (da.ins_ObsPeriodo(IdPeriodoNegocio, s_observacion, out String msgError))
            {
                DialogService.Alert("Comentario Actualizado", "Aviso", new AlertOptions() { OkButtonText = "OK" });

                DialogService.Close(true);
            }
        }
        catch
        { }
    }
    public void Cancelar()
    {
        DialogService.Close(true);
        return;
    }

}