@inherits LayoutComponentBase
@inject NavigationManager navManager
<PageTitle>Comercio Exterior</PageTitle>

<RadzenDialog/>
<RadzenNotification/>

<div class="page">
    
    <div id="gisSideBar" class="sidebar menuPrincipal">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>
       <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("onBlazorReady");
    }
}