@inject IJSRuntime JSRuntime

<div class="iconoGrande">
    <div class="top-row navbar " style="background-color:#f7f7f7; background-image:url('/css/Images/logo GIS gris CH.png'); background-repeat: no-repeat">
    </div>
</div>

<div class="iconoPequeno">
    <div class="top-row navbar " style="background-color:#f7f7f7; background-image:url('/css/Images/emblema-GIS-CH.png'); background-repeat: no-repeat">
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" Match="NavLinkMatch.All">
                <button @onclick="menu" class="link-info botonCerrar">
                    <img src="/images/menu-64.jpg" width="32" height="32" />
                </button>
            </NavLink>
        </div>


        <div class="menuOpciones">

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AnalisisQuimico" Match="NavLinkMatch.All">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Análisis Químico
                    </NavLink>
                </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="AnalisisMetalografico">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>  Análisis Metalográfico
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Dureza">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Dureza
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ResumenProduccion">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> ResumenProduccion

                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="CertificadosCalidad">
                            <span class="oi oi-cog" aria-hidden="true"></span> Certificado de Calidad
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Contactos">
                            <span class="oi oi-cog" aria-hidden="true"></span> Contactos
                        </NavLink>
                    </div>

        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    IJSObjectReference JSObjectReference { get; set; }

    async Task menu()
    {
        //await JSRuntime.InvokeVoidAsync("alert","hola");
        JSObjectReference = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/NavMenu.razor.js");
        await JSObjectReference.InvokeVoidAsync("menu");

    }

}
